@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    /*background-color: greenyellow;*/
}

* {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 15px 0 0 0;
}

li {
    margin-bottom: 10px;
}

.bg-img {
    /* The image used */
    background-image: url("../images/nature.jpg");

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: green;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1
}


.mobile,
.phone {
    display: flex;
    justify-content: center;
    align-items: center;
}


.phone {
    width: 700px;
    height: 1200px;
    background: linear-gradient(170deg, black 26%, white 45%, black 65%);
    border-radius: 60px;
    padding: 20px;
    margin: 50px;
    box-sizing: border-box;
}

.phone-mirror {
    position: relative;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    background: linear-gradient(to bottom, #a8d5a8, #5ba5a5);
    border-radius: 40px;
    padding: 0px 30px 50px 50px;
    box-sizing: border-box;

    background: linear-gradient(to bottom, #0a9183, #add8e6 50%, rgb(255, 255, 255) 65%),
        radial-gradient(circle at bottom left, #89ea89 0%, rgba(255, 255, 255, 0.5) 50%),
        radial-gradient(circle at bottom right, #68e868 0%, rgba(255, 255, 255, 0.5) 50%);
    background-blend-mode: multiply;

    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8),
        0 0 20px #a5f0a5,
        0 0 30px rgba(255, 255, 255, 0.4);
}

.phone-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

#filterInput {
    border: none;
    background: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.212);
    margin-bottom: 20px;
}


#introductionText {
    margin: 5% 0%;
    display: block;
    text-align: justify;
}

#introductionText span {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.7em;
    font-weight: 100;
    vertical-align: middle;
}

.top_buttons,
.apps-area {
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    align-content: flex-start;
}

.apps-area {
    height: 90%;
    display: none;
}

.buttonContent {
    width: 25%;
}


.buttonContent p {
    text-align: center;
}

.buttonContent div {
    margin: 0 auto;
    width: 80px;
    height: 80px;
}

.hidden {
    display: none;
}

.topWrapper {
    position: relative;
    width: 130px;
    height: 20px;
    margin: 0px auto 0 auto;
    float: left;
    left: 38%;
    background-color: #232526;
    border-radius: 0 0 45px 45px;

}

.line-rec {
    position: relative;
    width: 60px;
    height: 6px;
    margin: 0px auto 0 auto;
    float: left;
    left: 20%;
    top: 4px;
    background-color: rgb(83, 83, 82);
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
}

.camera {
    position: relative;
    float: left;
    margin-right: 8px;
    left: 18%;
    width: 11px;
    height: 11px;
    top: 1px;
    background-color: rgb(83, 83, 82);
    border-radius: 30px;
    border: 1px solid rgb(214, 214, 214);
}

.buttons {
    background-color: black;
    width: 100%;
    height: 30px;
    border-radius: 0 0 45px 45px;
}

.clock-frame {
    color: white;
    margin-top: 50px;
    height: 20%;

}

.clock {
    width: 100%;
    height: 100%;
    background: rgba(8, 66, 0, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock span {
    font-size: 70px;
    width: 90px;
    display: inline-block;
    text-align: center;
    position: relative;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    padding: 5px 10px;
    margin-top: 20px;
    position: relative;
    justify-content: space-around;
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    flex-grow: 1;
    border-radius: 50px;
    font-size: 16px;
    margin-right: 10px;
}

.search-input::placeholder {
    color: #aaa;
}

.search-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
}

.search-button:hover {
    background-color: #f0f0f0;
}

.eco-button {
    background: linear-gradient(to top, rgba(30, 94, 21, 0.4), rgba(74, 83, 72, 0.18));
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;

}

/* Button hover effect */
.eco-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

/* Button focus styling */
.eco-button:focus {
    outline: none;
    box-shadow: 0px 0px 10px #5ba5a5;
}

.eco-button .button-text {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #333;
    text-align: center;
}

.eco-button img {
    width: 100%;
    height: 100%;
    opacity: 50%;
}

.spinner {
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid #5cb85c;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: auto;
    /* Center align */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.headline {
    padding: 10px;
    color: white;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    margin-top: 50px;
    background: radial-gradient(circle at 20% 30%, #fdfcfb, #f5ebe0 30%, transparent 60%),
        radial-gradient(circle at 80% 20%, #e4d3c3, #d5bdaF 50%, transparent 70%),
        radial-gradient(circle at 50% 80%, #c2a28b, #a78f78 40%, transparent 80%);
}



.title_span {

    font-size: 1.5rem;
}

.score_span {
    top: 10px;
    right: 10px;
}

.span_alike {
    background-color: #0000008a;
    border-radius: 5px;
    padding: 0 10px;

    display: flex;
    flex-direction: column;
}

.span_alike span {
    background-color: unset;
    padding: 0 10px
}


#materials {
    background-image: url(/static/images/origin.jpg);
}

#transportation {
    background-image: url(/static/images/transportation.jpg);
}

#quality_of_battery {
    background-image: url(/static/images/use-neg.jpg);

}

/*
#production {
    background-image: url(/static/images/production.jpg);
}
*/
#use {
    background-image: url(/static/images/use-neg.jpg);
}

#end_of_life {
    background-image: url(/static/images/eol.jpg);
}

td {
    vertical-align: top;
    text-align: left;
    padding-bottom: 8px;
}


.tooltiptext {
    visibility: hidden;
    font-size: 0.7rem;
    width: 250px;
    background-color: #1d1d1dd7;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Position above the element */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    /* Transparent by default */
    transition: opacity 0.3s;
}

.score_span:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.t-header {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    height: 120px;
}

.t-frame {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.t-frame span {
    font-size: 1.8rem;
    padding: 0 10px;
}

.t-ratio {
    display: flex;
    justify-content: end;
    width: 93%
}

.t-ratio-corrector {
    margin-right: -40px;
    margin-top: -5px;
    font-size: 0.8rem;
    margin-left: 10px;
}

.ratio_container {
    padding-left: 12px;
}

.outer_ratio {
    background-color: #292929;
    height: 5px
}

.inner_ratio {
    background-color: green;
    height: 100%;
}

.arrow_placer {
    display: flex;
    justify-content: end;
    color: #292929;
}

.ratio-with-perc {
    display: flex;
    font-size: 0.7em;

}

.ratio-with-perc span {
    margin-top: -6px;
    margin-left: -10px;
    padding-left: -10px;
}

/* Styling for the return button */
.return-button {
    display: inline-block;
    background-color: #292929;
    /* Primary blue */
    color: #ffffff;
    /* White text */
    font-size: 16px;
    /* Adjust the size as needed */
    font-weight: bold;
    padding: 10px 20px;
    /* Button padding */
    border: none;
    /* No border */
    border-radius: 25px;
    /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    /* Smooth hover effect */
}

/* Hover effect */
.return-button:hover {
    background-color: #000000;
    /* Darker blue for hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    /* Enhanced shadow on hover */
    transform: scale(1.05);
    /* Slight scale-up on hover */
}

/* Focus effect for accessibility */
.return-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
    /* Focus ring */
}

/* Disabled state */
.return-button:disabled {
    background-color: #c0c0c0;
    /* Grey color */
    cursor: not-allowed;
    /* Disabled cursor */
    box-shadow: none;
    /* No shadow */
}

/* Optional: Add an icon to the button */
#backButton::before {
    content: '←';
    /* Unicode arrow symbol */
    margin-right: 10px;
    /* Space between icon and text */
    font-size: 18px;
    /* Adjust icon size */
}

#topSeeAll::after {
    content: '→';
}

#bottomSeAll::after {
    content: '→';
}

.return-button img {
    height: 20px;
    filter: invert(1);
}

#fpl {
    filter: none;
}

#fpl_black {
    filter: invert(1);
}

.sources {
    font-size: 0.6em;
    vertical-align: top;
}

#head_menu {
    display: flex;
    justify-content: space-between;
}

#drop_content_fr {
    max-height: 150px;
    position: absolute;
    overflow-y: scroll;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    top: 60px;
    width: 95%;
    z-index: 100;
}

#drop_content_fr ul {
    width: 100%;
}

#drop_content_fr li {
    padding-left: 20px;
}

#drop_content_fr li:hover {
    background-color: #0a9183
}

.provided_brands_frame {
    display: flex;
    flex-direction: column;
}

.provided_brands_frame_inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#logo_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    padding-right: 20px;
    padding-top: 20px;
    color: white
}

#logo_header img {
    height: 100%
}

/* Default link color */
a {
    color: black;
}

/* Link color after being clicked (visited state) */
a:visited {
    color: rgb(0, 49, 0);
}

/* Optional: Add hover effect */
a:hover {
    color: green;
}