<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hello there!</title>
    <script>
        function insertText(buttonText) {
            const textField = document.getElementById("text-field");
            textField.value = buttonText;
        }
    </script>
</head>

<body>
    <h1>Enter name of your phone model here ... </h1>
    <form action="/response" method="post">
        <input type="text" id="text-field" name="name" placeholder="Type your message here">
        <button type="submit">Submit</button>
    </form>
    <p>The answer might take up to 21 scds</p>
    {{ message | safe }}

    <h1>Or choose from the provided list of buttons ... </h1>
    <p>currently only HUAWEI Pura 70, HUAWEI Pura 70 Ultra, HUAWEI Pura 70 Pro, HUAWEI nova 11i, HUAWEI nova 11 Pro,
        iPhone 16 Plus, iPhone 16 Pro Max, iPhone 16 Pro available</p>
    <table>
        <tr>
            {% for text in button_texts %}
            <td>
                <button onclick="insertText('{{ text }}')">{{ text }}</button>
            </td>
            {% if loop.index % 4 == 0 %}
        </tr>
        <tr> {% endif %}
            {% endfor %}
        </tr>
    </table>
</body>

</html>