saved_model_directory/
saved_model_directory2/
saved_model_directory23/
saved_model_directory24/
*.json
ind_key.py
temp_pdfs/
!/labels_with_descriptions.json
!/file_interpreter/prefilter.json
!shared/score_calculator/score_examples.json
!labels_with_descriptions_structured.json
*.pyc
temp/
*/sel_scraper.py
*/tut_scraper.py
htmls/
*/test_env.py
__pycache__/
docker_cheatsheet.md