<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <title>Hello there!</title>

</head>

<body>
    <div class="bg-img"></div>
    <div class="mobile">
        <div class="phone">
            <div class="phone-mirror">
                <div class="topWrapper">
                    <div class="camera"></div>
                    <div class="line-rec"></div>
                </div>
                <div class="clock-frame" id="clock" style="display: none;">
                    <div class="clock">
                        <span id="hrs">14</span>
                        <span>:</span>
                        <span id="min">35</span>
                    </div>
                </div>

                <div id="introductionText" style="display: none;">
                    <span>Thank you</span> for deciding to use the platform to find out more about the
                    environmental
                    footprint of
                    your next phone.
                    You may either enter the phone's name in the input field above or select one of the suggested
                    options from the buttons below.
                    As a result, you will receive a footprint analysis covering the <span>whole lifecycle</span> of
                    the
                    phone "from cradle to grave".
                    Please note, we don't have data of all phone models due to limitations considering the
                    development
                    time of this app.
                </div>


                <div class="search-container">
                    <input type="text" class="search-input" id="text-field" name="name"
                        placeholder="Enter name of your phone model here ... ">
                    <button class="search-button" type="submit" id="load-content-button">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"
                            fill="#555">
                            <path
                                d="M796.9 856.8 601.5 661.3q-27.4 19.9-59.1 29.9-31.7 10-64.9 10-88.8 0-151.3-62.4T263.8 458.8q0-88.8 62.4-151.3T478.8 245q88.8 0 151.3 62.4t62.4 151.3q0 33.2-10 64.9t-29.9 59.1l195.4 195.4q12.2 12.1 12.1 29.7-.2 17.6-13.1 30.5-13 13-30.5 13.1-17.6.2-29.7-12.1ZM478.8 615q61.5 0 105.7-44.2t44.2-105.7q0-61.5-44.2-105.7T478.8 315q-61.5 0-105.7 44.2t-44.2 105.7q0 61.5 44.2 105.7T478.8 615Z">
                            </path>
                        </svg>
                    </button>
                </div>




                <div class="apps-area" id="dynamic-content" style="height: 90%;">
                    <button onclick="goBack()" style="display: block" class="return-button" id="backButton">Try other
                        phone!</button>
                    <div style="display: block">
                        <p>The HUAWEI P60 has a significant carbon footprint due to substantial material extraction,
                            intensive production processes, long-distance transportation, and low recycling rates.
                            Overall,<span style="font-weight: bold"> it presents a rather bad environmental
                                footprint.<span></span></span></p>Further Details:
                    </div>
                    <p>Materials</p>
                    <ul style="list-style-type: none; padding: 0; margin: 0">
                        <li class="metals-css-class" style="margin: 20px 0px;">
                            <div
                                style="padding: 10px; color: white; position: relative; background-image: url(/static/images/metals.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; min-height: 250px;">
                                <span
                                    style="font-weight: bold; display: block; font-size: x-large; background-color: rgba(0, 0, 0, 0.541);">Detrimental
                                    and substantial
                                    Metals:</span>
                                <div
                                    style="position: absolute; bottom: 10; right: 10; width: 90%; text-align: right; background-color: rgba(0, 0, 0, 0.541)">

                                    The HUAWEI P60 incorporates various essential metals such as
                                    tungsten,
                                    tin, gold, lead, cobalt, lithium, and tantalum, critical for its functionality. The
                                    extraction and processing of these metals significantly elevate its environmental
                                    footprint.

                                </div>
                                <span class="sources"></span>


                            </div>
                        </li>
                        <li class="chemicals-css-class" style="margin: 20px 0px;">
                            <div
                                style="padding: 10px; color: white; position: relative; background-image: url(/static/images/chemicals.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; min-height: 250px;">
                                <span
                                    style="font-weight: bold; display: block; font-size: x-large; background-color: rgba(0, 0, 0, 0.541); text-align: right;">Hazardous
                                    and concerning Toxic
                                    Chemicals:</span>
                                <div
                                    style="position: absolute; bottom: 10; left: 10; width: 90%; text-align: left; background-color: rgba(0, 0, 0, 0.541)">

                                    Besides this, the phone likely contains toxic chemicals such as
                                    beryllium, brominated flame retardants, PVC, phthalates, arsenic in glass, and
                                    mercury.
                                    These substances pose significant environmental and health risks during production
                                    and
                                    disposal stages.

                                </div>
                                <span class="sources"></span>


                            </div>
                        </li>

                        <li class="alternatives-css-class" style="margin: 20px 0px;">
                            <div
                                style="padding: 10px; color: white; position: relative; background-image: url(/static/images/alternatives.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; min-height: 250px;">
                                <span
                                    style="font-weight: bold; display: block; font-size: x-large; background-color: rgba(0, 0, 0, 0.541);">Sustainable
                                    and
                                    environmentally-friendly Alternative Materials:</span>
                                <div
                                    style="position: absolute; bottom: 10; right: 10; width: 90%; text-align: right; background-color: rgba(0, 0, 0, 0.541)">

                                    Sustainable and
                                    environmentally-friendly Alternative Materials:</span> Manufacturers are
                                    increasingly
                                    utilizing bio-based plastics and recycled materials to reduce reliance on rare
                                    earths and
                                    toxic chemicals in the HUAWEI P60, promoting a more eco-friendly approach.

                                </div>
                                <span class="sources"></span>


                            </div>
                        </li>

                        <li class="origin-css-class" style="margin: 20px 0px;">
                            <div
                                style="padding: 10px; color: white; position: relative; background-image: url(/static/images/origin.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; min-height: 250px;">
                                <span
                                    style="font-weight: bold; display: block; font-size: x-large; background-color: rgba(0, 0, 0, 0.541); text-align: right; ">Problematic
                                    and unsustainable Raw
                                    Materials Origin:</span>
                                <div
                                    style="position: absolute; bottom: 10; left: 10; width: 90%; text-align: left; background-color: rgba(0, 0, 0, 0.541)">

                                    What's more, the smartphone sources raw materials, primarily
                                    rare earth elements, from mining operations in China, Australia, and the United
                                    States,
                                    raising significant environmental and ethical concerns in the process.

                                </div>
                                <span class="sources"></span>


                            </div>
                        </li>


                    </ul>
                    <div class="headline" id="transportation">
                        <span>Transportation</span>

                    </div>
                    <ul>
                        <li class="transportation-css-class"><span style="font-weight: bold">Substantial and concerning
                                Transportation:</span> The transportation logistics for the HUAWEI P60 involve
                            significant distances, often spanning thousands of kilometers, impacting its carbon
                            footprint. The use of both air and sea transport contributes to considerable greenhouse gas
                            emissions. <span class="sources"></span></li>
                    </ul>
                    <div class="headline" id="production">
                        <p>Production</p>
                    </div>
                    <ul>
                        <li class="production_process-css-class"><span style="font-weight: bold">Resource-intensive and
                                impactful Production Process:</span> The production process of the HUAWEI P60 includes
                            raw material extraction, component manufacturing, and final assembly. Each stage involves
                            complex methodologies and significant energy use, contributing to its environmental
                            footprint. <span class="sources"></span></li>
                        <li class="production_waste-css-class"><span style="font-weight: bold">Significant and
                                concerning Production Waste:</span> The manufacturing of the HUAWEI P60 generates
                            substantial production waste, including defective products, excess materials, and packaging
                            waste. Companies are increasingly adopting recycling initiatives and sustainable practices
                            to manage waste effectively, aiming to repurpose materials and minimize environmental
                            impact. <span class="sources"></span></li>
                        <li class="supplier_energy_use-css-class"><span style="font-weight: bold">Critical and
                                concerning Supplier Energy Use:</span> Supplier energy use for the HUAWEI P60 involves
                            significant energy consumption at production sites, often relying on a mix of renewable and
                            non-renewable sources. This raises concerns about the overall carbon footprint, emphasizing
                            the need for energy efficiency and cleaner practices. <span class="sources"></span></li>
                        <li class="location_of_assembly-css-class"><span style="font-weight: bold">Cost-effective and
                                concerning Location of Assembly:</span> As an additional point, the smartphone is likely
                            assembled in low-cost labor countries such as China and Vietnam, facilitating quick
                            production but raising concerns about environmental regulations and worker safety. <span
                                class="sources"></span></li>
                    </ul>
                    <div class="headline" id="use">
                        <p>Use</p>
                    </div>
                    <ul>
                        <li class="ease_of_reparation-css-class"><span style="font-weight: bold">Challenging and
                                environmentally damaging Ease of Reparation:</span> The HUAWEI P60's ease of reparation
                            is limited due to the use of adhesive in its design, complicating battery and screen
                            replacements. This increases its environmental impact as it may lead to more e-waste. <span
                                class="sources"></span></li>
                        <li class="ease_of_modification-css-class"><span style="font-weight: bold">Restrictive and
                                detrimental Ease of modification:</span> In the same regard, it has limited ease of
                            modification, lacking expandable storage options like SD card slots, reflected in a trend
                            toward streamlined devices that reduce user customization options. <span
                                class="sources"></span></li>
                        <li class="top_notch_technology-css-class"><span style="font-weight: bold">Sustainable and
                                impressive top notch technology:</span> To expand further, it integrates
                            state-of-the-art technology, including 5G capability, advanced Snapdragon processors, and
                            high-resolution cameras, promoting device longevity and reducing obsolescence. <span
                                class="sources"></span></li>
                        <li class="quality_of_battery-css-class"><span style="font-weight: bold">Sustainable but
                                concerning Quality of Battery:</span> Additionally, the device features a 4815 mAh
                            battery providing decent longevity, supporting fast charging. However, it has a
                            non-removable design, which may accelerate obsolescence and limit recycling opportunities.
                            <span class="sources"></span>
                        </li>
                        <li class="durability-css-class"><span style="font-weight: bold">Sustainable and resilient
                                Durability:</span> In addition the smartphone features robust materials and an IP68
                            rating for water and dust resistance, contributing to longevity in everyday use. Its durable
                            design reduces the frequency of replacements, which positively impacts e-waste concerns.
                            <span class="sources"></span>
                        </li>
                        <li class="energy_consumption-css-class"><span style="font-weight: bold">Environmentally
                                friendly and effective Energy Consumption:</span> Further the phone is optimized for
                            energy efficiency, featuring advanced processors and battery technology that minimize power
                            consumption, reducing its environmental footprint. This results in environmentally friendly
                            and effective energy use. <span class="sources"></span></li>
                    </ul>
                    <div class="headline" id="end_of_life">

                        <p>End of Life</p>
                    </div>
                    <ul>
                        <li class="planned_obsolescence-css-class"><span style="font-weight: bold">Environmentally
                                detrimental and unsustainable Planned Obsolescence:</span> The HUAWEI P60 employs
                            planned obsolescence strategies through performance-degrading software updates and
                            non-repairable designs, steering consumers towards quicker replacements. This leads to
                            increased electronic waste and sustainability concerns. <span class="sources"></span></li>
                        <li class="second_use-css-class"><span style="font-weight: bold">Sustainable and impactful
                                Second Use:</span> Correspondingly, the smartphone's high build quality and features
                            enhance its potential for second use, supporting refurbishment and resale markets
                            effectively. This positively contributes to sustainability and significantly reduces
                            electronic waste. <span class="sources"></span></li>
                        <li class="recycling-css-class"><span style="font-weight: bold">Promising but challenging
                                Recycling:</span> Recycling initiatives for the HUAWEI P60 focus on recovering valuable
                            materials like metals and plastics, yet current recycling rates remain low, causing
                            significant materials to end up in landfills. Progress is being made, but challenges persist
                            in efficiently recycling smartphones. <span class="sources"></span></li>
                    </ul>
                </div>




            </div>
        </div>
    </div>




</body>

</html>